
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Montserrat:wght@400;500;700;800&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primary-font-family: 'Roboto', sans-serif;
    --secondary--font-family: 'Montserrat', sans-serif;
    --primary-color:rgb(53, 53, 53);
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

*{
    margin: 0;
  
}

body {
  background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255),
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9' numOctaves='1x' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  margin: 0;
}


.navbar-brand{
    font-family:var(--primary-font-family);
    font-weight: 900;
    padding-left: 50px;
    color: var(--primary-color);
}
/* styling for index.html */
.selfIntro-section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px 100px 200px 100px;
flex-wrap: wrap;
flex: 1;
}
.selfIntro-section1,
.selfIntro-section2{
    /* font-family: var(font-family); */
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    font-weight: 900;
    color: var(--primary-color);
}
.selfIntro-section2{
    padding-top: 30px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgba(132, 131, 131, 0.979);
    font-size: 100px;
}
.intro-tech-stack span{
    
    font-size: 20px;
    font-weight: 500;
}
.cursor{
    position:fixed;
    width:40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid rgb(63, 61, 61);
    transition: transform .2s ease;
    transform-origin: center center;
    pointer-events: none;
}
.grow, .grow-small{
    transform: scale(10);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}
.grow-small{
    transform: scale(2.5);
}
.stroke-design{
    display: flex;
    
}
.project-container h2{
    font-family: var(--primary-font-family);
    font-weight: 700;
    color: var(--primary-color);
}
.project-container p{
letter-spacing: 0.7px;
    
}
.tech-stack{
 display: flex;
 justify-content: center;
 align-items: center;
}
.code-demo{
 display: flex;
 justify-content: center;
 align-items: center;
}
.code-demo a{
   font-size: 20px;
   padding: 4px 8px 0px 8px;
   text-decoration: none;
   color: var(--primary-color);
}
.code-demo a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(126, 127, 132);
}
.fa-html5 {
  color: #e44d25;
}
.fa-css3-alt {
  color: #016bc1;
}
.fa-square-js {
  color: #e4a125;
}
.fa-linkedin{
    color: #0A66C2;
}
.fa-github{
    color: black;
}
.project-img{
    width: 900px;
    height: auto;
    box-shadow: var(--box-shadow);

}
.footer{
    justify-content: space-between;
    display: flex;
   padding: 40px 100px 40px 100px;
    background-color: #0808080f;
}
.footer h2{
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 30px;
}
/* styling for about page */
.profile-img{
    max-width: 250px;
    border-radius: 50%;
    
}
.aboutme{
    font-family: var(--secondary--font-family);
    font-weight: 700;
    color: var(--primary-color);
}
.about-container{
  
    padding: 50px;
}
.aboutme-content{
    font-family: var(--primary-font-family);
    letter-spacing: 0.5px;
    font-size: 18px;
    color: rgb(57, 56, 56);
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: drop-shadow(1);
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

@media (max-width: 1042px){
    .selfIntro-section2,
    .selfIntro-section1{
        font-size: 70px;
    }
}
@media (max-width: 992px){
      .project-img{
        margin-top: 40px;
        width: 900px;
    }
    .code-demo a{
   font-size: 15px;
   padding: 4px 8px 0px 8px;
   text-decoration: none;
   color: var(--primary-color);
}
        .fa-html5,
        .fa-css3-alt, 
        .fa-square-js{
        font-size: 24px;
        
    }

 
}
@media (max-width: 788px){
    .selfIntro-section2,
    .selfIntro-section1{
    font-size: 60px;
    }
    .selfIntro-section2{
    padding-top: 20px;
    }
    .code-demo a{
    font-size: 15px;
    }
    .project-container h2{
        font-size: 25px;
    }
    .project-container p{
    letter-spacing: 0.2px;
       padding: 5px; 
       font-size: 15px;
    }
    .project-img{
        margin-top: 40px !important;
        width: 900px !important;
    }
      .fa-html5,
        .fa-css3-alt, 
        .fa-square-js{
        font-size: 23px;
        
    }
}
@media (max-width: 768px){
    .selfIntro-section2,
    .selfIntro-section1{
    font-size: 55px;
    }
    .selfIntro-section2{
    padding-top: 20px;
    -webkit-text-stroke: 1px rgba(132, 131, 131, 0.979);
    }
    
    .project-container h2{
        font-size: 20px;
    }
    .project-container p{
        letter-spacing: 0.1px;
        padding: 2px; 
        font-size: 13px;
    }
      .code-demo a{
    font-size: 13px;
    }
    .project-img{
        margin-top: 40px;
        
    }
      .fa-html5,
        .fa-css3-alt, 
        .fa-square-js{
        font-size: 25px;
        
    }
 
    .aboutme-content{
        font-size: 14px;
        padding: 1px;
    }
  
}
@media (max-width: 622px) {
    .selfIntro-section2,
    .selfIntro-section1{
    font-size: 40px;
    }
    .selfIntro-section2{
    padding-top: 15px;
    -webkit-text-stroke: 1px rgba(132, 131, 131, 0.979);
    }

}
@media (max-width: 485px){
    .selfIntro-section h3{
        font-size: 20px;
        padding-bottom: 10px;
    }
  .intro-tech-stack i{
    margin: 15px !important;
  }   
}
@media (max-width:369px){
        .project-container p{
        letter-spacing: 0px;
        padding: 1px !important; 
        font-size: 13px;
    }
      .tech-stack i{
    margin: 10px !important;
  }   
}
@media(max-width:374px){
    .selfIntro-section{
        padding: 50px 70px 100px 70px;
    }
    .project-container h2{
        font-size: 23px;
    }
    .project-container p{
        font-size: 15px;
    }
          .tech-stack i{
    margin: 10px !important;
  } 
        .code-demo a{
    font-size: 15px;
    }
}

